html{
         background: url(http://i1144.photobucket.com/albums/o489/shannones1104/blur_zpsf937599a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

width:auto;
      
        text-align: center;
        width: 100%;
    }
    header{
        max-width: 900px;
  margin: 0 auto;
    }
    
h1{
font-family: 'Dancing Script', cursive;
padding-bottom: 30px;
line-height:150%;
letter-spacing: .1em;
text-align: center;
font-size:90px;
color: #333;


}
#head-tag{
font-family: 'Poiret One', cursive;
font-size:45px;
color:white;
padding-top: 70px;
letter-spacing:.02em;
float:right;


}
#header-info samp {
padding-top: 40px;
margin-top:-1.5em;
color:#ED2939;

font-size:35px;
font-weight:bold;
font-family:'Rock Salt', cursive;




}


h2 {
color:#333;
text-align:center;
padding-bottom: 4.5em;
}

.more {
      background-color:#ED2939;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
     border:2px solid #ffffff;
    display:inline-block;
    color:#ffffff;
    font-family:'Hammersmith One';
    font-weight: bold;
    font-size:30px;
    letter-spacing: .1em;
    font-style:normal;
    height:70px;
    line-height:70px;
    width:230px;
    text-decoration:none;
    text-align:center;
   

}

.more:hover {
       background-color:#9ad7b9;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
     border:2px solid #ffffff;
    display:inline-block;
    color:#ffffff;
    font-family:'Hammersmith One';
    font-weight: bold;
    font-size:30px;
    letter-spacing: .1em;
    font-style:normal;
    height:70px;
    line-height:70px;
    width:230px;
    text-decoration:none;
    text-align:center;
   
     
}