html{
         background: url(http://i1144.photobucket.com/albums/o489/shannones1104/blur_zpsf937599a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

width:auto;
      
        text-align: center;
        width: 100%;
    }
    header{
        max-width: 600px;
  margin: 0 auto;
    }
    
h1{
font-family: 'Dancing Script', cursive;
padding-top: 1em;
line-height:150%;
letter-spacing: .1em;
text-align: center;
font-size:80px;
color: #333;

}
#head-tag{
font-family: 'Poiret One', cursive;
font-size:45px;
color:white;

letter-spacing:.02em;
float:right;
margin-right: 4.5em;
margin-left: 2.5em;

}
#header-info samp {
padding-top: 40px;
margin-top:-1.5em;
color:#ED2939;
float:right;
font-size:35px;
font-weight:bold;
font-family:'Rock Salt', cursive;

margin-right:5em;

}


h2 {
color:#333;
text-align:center;
padding-bottom: 4.5em;
}

.more {
    background-color:transparent;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #ffffff;
    display:inline-block;
    color:#ffffff;
    font-family:'Poiret One', cursive;
    font-weight: bold;
    font-size:25px;
    letter-spacing: .1em;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:170px;
    text-decoration:none;
    text-align:center;
   
   

}

.more:hover {
    position:relative;
    
    
    top:1px;
     
}