html{
         background: url(http://i1375.photobucket.com/albums/ag479/shannonknowscode/Photobucket%20Desktop%20-%20PrettyBitchs%20MacBook%20Air/Images/IMG_6855-1300x866_zps5c49dab9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

width:auto;
      
        text-align: center;
        width: 100%;
    }

body {
        margin: 0 auto;
        padding: 10px 10px 20px 10px;
        overflow: hidden;
}

header{
        
  margin: 50px auto;
    }
 
h1 {
  font-family: 'Hammersmith One';
padding-bottom: 10px;
line-height: 150%;
letter-spacing: .1em;
text-align: center;
font-size: 100px;
color: #333;
margin: 0;
padding-top: 30px;
}

h2, a{

padding-bottom: 10px;
line-height: 72%;
font-family: 'Quicksand';
text-align: center;
font-size: 65px;
color: 5EC19E;
margin: 0;
padding-top: 10px;
text-decoration: none;
}

#head-tag {
font-family: 'Quicksand';
font-size:50px;
color:#333;
text-decoration: none;
letter-spacing:.02em;
}

.tag, a {
text-align:center;
margin-bottom:30px;

}

a:hover, h2:hover {
  color:#5EC19E;
  text-decoration: underline;
}




h3 {

font-family: 'Quicksand';
font-size:40px;
color:black;
letter-spacing:.02em;
background-color: white;
width:800px;
margin-bottom: 30px;



}

.barnav {
  margin-top:80px;
}

.front-nav {
    margin-left: 90px;
    display: inline-block;
    margin-right: 100px;
    
}
.front-nav img{
    
    width:115px;
    padding-bottom: 10px;
}

.front-nav img:hover {
    position:relative;
   bottom:5px;
}

.front-nav > a {
  color: black;
    text-decoration: none;
    font-family:'Hammersmith One';
    font-size: 19px;
}