
html{
    margin: 0;
height: 100%;
    
}
body{

 background: #9ad7b9;
 

}

.overflow {
    overflow: hidden;
}
.body{
background: #9ad7b9;
    
    min-height: 550px;
        }

.page{


        background: #9ad7b9;
        margin: 0 auto;
        
        
    }


  
    
  .site-title  {
    font-family: 'Hammersmith One', sans-serif;
font-size:65px;
    text-decoration: none;
color: #333;


    margin: o auto;
    font-size: 75px;
    line-height: 1.2;
    letter-spacing: inherit;
    padding-left: 40px;
}

.site-description {
    margin: 0 auto;
    color: #eee;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    
    font-style: italic;
    letter-spacing: 0.16px;
    font-weight: inherit;
    margin-top: 5px;
line-height: 150%;
    padding-left: 40px;
    margin-left:40px;}   

.disclaim{
margin: 40px;
padding-left: 40px;

}



h3{

     font-family: 'Quicksand', sans-serif;
     color: #333;
}












h1 {
color:white;

font-family: 'Montserrat Alternates', sans-serif;
font-size: 30px;


}





h4{
font-size: 30px;
text-transform: uppercase;
font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-top:-0px;
letter-spacing:.5em;
color:white;
}



h5 {

font-family: 'Hammersmith One', sans-serif;
color:#222;
display: inline;
font-size:50px;
margin:10px 0 0 30px;


}
h6{
font-family: 'Special Elite', cursive;
font-size:40px;

}

    nav{
        font-family: 'Englebert', sans-serif;
            background: #9ad7b9;
            min-height: 50px;
            position: relative;
           top:0;
           border-bottom: 3px solid #eee;
margin-top: 0;
padding-top: 10px;
margin-bottom: 20px;
font-weight: bold;
            width: 100%;
            
    list-style-type: none;
    }

        
    .port{
        position: fixed;
    }
    nav li{
         display: inline-block;
padding: 1px 40px;
width: auto;
     
    }



      nav a{
        
     list-style-type:none;
      
     padding: 5px 0px;
text-decoration: none;
display: block;
line-height: 1.2;
font-size: 19px;
letter-spacing: .16px;

   float: left;
    color: #333;
    text-transform: uppercase;
     font-family: 'Englebert', sans-serif;
     
    }



    nav li:hover > a {
    text-decoration: underline;


    }
    nav a:active{
    color:#ED2939;
    }


 #contact{
margin: 0;
display: inline;


}

.project{
    margin-top: 50px;
}

.project img{
    width: 200px;
border: 2px #333 solid;
}

.project img:hover{
    border: 2px white solid;
}

figcaption {
    font-family: 'Quicksand';
    color: #333;
    font-size: 14px;
    
margin-top: 5px;


}

.caption {
    color:#ae4b33;
}

.used{
    color: white;
    font-weight: bolder;
}

figcaption a{
    color: #333;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.6px;
}

figcaption a:hover{
    color: white;
    font-size: 18px;
    text-decoration: underline;
}



.me {
padding-bottom: 10px;
padding-left: 20px;
float: right;
}


article {
color: #333;
margin:0 20px 0 20px;
font-size: 19px;
text-indent: 3em;
font-family: 'Raleway';
line-height: 180%;
text-align:justify;
}

p {
color: #333;
margin:20px 20px 0 20px;
font-size: 19px;
text-indent: 3em;
font-family: 'Raleway';
line-height: 180%;
text-align:justify;
}

article a{

text-decoration: none;
color: #ae4b33;
font-style: italic;

}

article a:hover, a:active {
    text-decoration: underline;
}

blockquote {
font-family: 'Fjalla One', sans-serif;
font-size:40px;
color: white;
margin-top: 5px;
margin-bottom: 10px;
font-style: italic;
text-align:right;

}
#resume {
overflow:hidden;
background: #9ad7b9;
}



.resume{


margin-bottom:30px;
margin-left: 40px;
margin-top:10px;
margin-right:20px;
padding:20px;
color:#333;
font-family: Courier New;
font-size:14px;
word-wrap: break-word;



}

.info {
    
padding-bottom: 11px;
}

.location{
letter-spacing:.05em;
color:white;
font-size:28px;
font-family: 'Poiret One', cursive;
color:white;
text-align:justify;
margin: 0;
text-indent: 15px;
line-height: 150%;
}



#email {
font-family: 'Poiret One', cursive;
letter-spacing:.2em;
font-size: 20px;
}



.location a {

font-size: 22px;

letter-spacing: .1em;
color: #333;
}




 .location a:hover{
color:#ED2939;
}




.first {
font-family: 'Poiret One', cursive;
color: white;
font-size:60px;
letter-spacing:.1em;
line-height:150%;
margin: 0;
text-indent: 0;
line-height: 150%;
}


.color{
    margin:5px;
    list-style-type: none;
    display: inline-block;
    padding:0;


}
.color li {float:left;
  padding-right: 30px;
}

footer {
   color: white;

position: fixed;
bottom: 0;
right: 0;
width:100%;

font-family: 'Poiret One', cursive;
margin: 0;
padding-right: 10px;
padding-bottom: 10px;
height: auto;

background: #222;
}

footer ul {
list-style:none;
margin: 0;
padding-top: 5px;
padding-left: 10px;
}

footer li {
float:left;
padding-left: 10px;
}

footer li:hover {
    position:relative;
   bottom:5px;
}
footer,
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

footer a:hover {
    text-decoration: none;
    color: #9ad7b9;
}

.copy{


float: right;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 2px;


}

.social{

margin-left: 0;
text-align:left;
display: inline;

}

.social-contact {
    
margin:30px;
font-family: 'Poiret One', cursive;
color: white;
text-align: justify;
display: inline-block;
}

.color li:hover {
    position:relative;
    
    
    top:5px;
}


.contact-form {
    width: 650px;
float: right;
clear: both;

padding-right: 30px;

}
 



   