
html{
    margin: 0;
height: 100%;
    
}
body{

 background: #9ad7b9;
 

}
.body{
background: #9ad7b9;
    
    min-height: 550px;
        }

.page{


        background: #9ad7b9;
        
        
    }


  
    
     



h3{

     font-family: 'Quicksand', sans-serif;
     color: #333;
}












h1 {
color:white;

font-family: 'Montserrat Alternates', sans-serif;
font-size: 30px;


}





h4{
font-size: 30px;
text-transform: uppercase;
font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-top:-0px;
letter-spacing:.5em;
color:#333;
}



h5 {

font-family: 'Hammersmith One', sans-serif;
color:#222;

font-size:50px;
margin:30px;


}
h6{
font-family: 'Special Elite', cursive;
font-size:40px;

}

nav{
    font-family: 'Englebert', sans-serif;
        background: #9ad7b9;
        min-height: 50px;
        position: fixed;
       top:0;
        text-align: center;
        -webkit-transition: background 0.3s;
           -moz-transition: background 0.3s;
                transition: background 0.3s;
        width: 100%;
        z-index: 9999;
  border-bottom: 2px solid #222;
        margin: 0;
padding: 0;
list-style-type: none;
text-align: center;

    }
.port{
    position: fixed;
}
nav ul{
     max-width: 1200px;
 
}

  nav li, nav a{
    
 list-style-type:none;
  
  padding-top: 10px;
  font-size: 19px;
letter-spacing:.16em;
font-weight:bold;
padding-left: 30px;

text-decoration: none;
color: white;
text-transform: uppercase;
 font-family: 'Englebert', sans-serif;
 display: inline;
}



nav a:hover{
color: #333;


}
nav a:active{
color:#ED2939;
}


#about-me, #contact, #portfolio, #resume{

margin-top: 60px;

}

.me {
padding-bottom: 10px;
padding-left: 20px;
}


article, p {
color: #333
font-family: Raleway, sans-serif;
margin:0 20px 0 20px;
font-size: 18px;
text-indent: 3em;

line-height: 150%;
text-align:justify;


}
article a{

text-decoration: none;
color: #333;
font-style: italic;

}

article a:hover, a:active {
    color: #ae4b33;
}

blockquote {
font-family: 'Fjalla One', sans-serif;
font-size:35px;
color: white;
margin:10px;
font-style: italic;
text-align:right;

}
#resume {
overflow:hidden;
background: #9ad7b9;
}



.resume{


margin-bottom:30px;
margin-left: 40px;
margin-top:10px;
margin-right:20px;
padding:20px;
color:#333;
font-family: Courier New;
font-size:14px;
word-wrap: break-word;



}


#contact section {

padding-bottom: 5px;
margin-left:30px;
font-family: 'Poiret One', cursive;
padding-left: 20px;
color:white;
text-align:justify;


}

#contact a{
    color:#333;
}
#contact a:hover{
    color:white;
    text-decoration: underline;
}

td#email {
font-family: 'Poiret One', cursive;
letter-spacing:.2em;
font-size: 20px;
}

#social{
padding-top:20px;
font-family: 'Indie Flower', cursive;

}
td a {
text-decoration: none;
font-size: 22px;

letter-spacing: .1em;
color: #ae4b33;
}




 td a:hover{
color:#ED2939;
}




td#first {

font-size:50px;
letter-spacing:.1em;
line-height:150%;
}
#location{
letter-spacing:.05em;
color:white;
font-size:25px;
}

td#phone {
font-family: 'Poiret One', cursive;
letter-spacing:.5em;
font-size:15px;
}

.color{
    margin-left: 0;

}

footer{
color: #7B7B7B;

position: fixed;
bottom: 0;
right: 0;
width:100%;
background-color: #222;
font-family: 'Poiret One', cursive;
margin: 0;
padding-right: 10px;

height: auto;

background: #222;



}

.copy{


float: right;
margin-top: 5px;

}

.social{

margin-left: 0;
text-align:left;
display: inline;

}

#contact li:hover, footer li:hover{
    position:relative;
    
    
    top:1px;
}
#contact ul, footer ul, #contact li, footer li{

display: inline;
list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #7B7B7B;
    font-weight: bold;
}
footer a:hover{
    text-decoration: none;
    color: #9ad7b9;
}
 



   