
html{
         background: url(http://i1375.photobucket.com/albums/ag479/shannonknowscode/Photobucket%20Desktop%20-%20PrettyBitchs%20MacBook%20Air/Images/Smooth-Touch-Workspace-1300x866_zps6b29158c.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

width:auto;
      
        
        width: 100%;
    }

body{

 

}

.overflow {
    /*overflow: hidden;*/
}
.body{

    
    
        }

.page{


        padding-bottom: 30px;
        margin: 0 auto;
        
        
    }


  
    
  .site-title  {
    font-family: 'Hammersmith One', sans-serif;
font-size:65px;
    text-decoration: none;
color: #333;


    margin: o auto;
    font-size: 75px;
    line-height: 1.2;
    letter-spacing: inherit;
    padding-left: 40px;
}

.site-description {
    margin: 0 auto;
    color: #eee;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    
    font-style: italic;
    letter-spacing: 0.16px;
    font-weight: inherit;
    margin-top: 5px;
line-height: 150%;
    padding-left: 40px;
    margin-left:40px;}   

.disclaim{
margin: 40px;
padding-left: 40px;

}



h3{

     font-family: 'Quicksand', sans-serif;
     color: #333;
}












h1 {
color:white;

font-family: 'Montserrat Alternates', sans-serif;
font-size: 30px;


}





h4{
font-size: 30px;
text-transform: uppercase;
font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-top:-0px;
letter-spacing:.5em;
color:white;
}



h5 {

font-family: 'Hammersmith One', sans-serif;
color:#222;
background-color: white;
display: inline;
font-size:50px;
margin:10px 0 0px 30px;


}
h6{
font-family: 'Special Elite', cursive;
font-size:40px;

}

    nav{
        font-family: 'Englebert', sans-serif;
             background-color: transparent;
            min-height: 50px;
            position: relative;
           top:0;
           border-bottom: 3px solid #5C3317;
margin-top: 0;
padding-top: 10px;
margin-bottom: 20px;
font-weight: bold;
            width: 100%;
            
    list-style-type: none;
    }

        
    .port{
        position: fixed;
    }
    nav li{
         display: inline-block;
padding: 1px 40px;
width: auto;

     
    }
ul {padding:0;}


      nav a{
        
     list-style-type:none;
      
     padding: 5px 0px;
text-decoration: none;
display: block;
line-height: 1.2;
font-size: 19px;
letter-spacing: .16px;

   float: left;
    color: #333;
    text-transform: uppercase;
     font-family: 'Englebert', sans-serif;
     
    }



    nav li:hover > a {
    text-decoration: underline;


    }
    nav a:active{
    color:#ED2939;
    }

aside {
   float: left;
/* padding: 0 20px; */
margin: 0 40px 0 20px;
position: absolute;
top:40;

}

aside figcaption{
    
    color:#222;
}

.front-nav {
   list-style-type: none;
   margin: 0;
   margin-top: 38px;
   padding: 5px;
   background-color:#FFFFFF;
}

#about-me aside {
    margin-top: 48px;
}
.front-nav img{
    
    width:70px;
}

.front-nav a:hover {
    position:relative;
   bottom:5px;
   color: inherit;
   font-size: 15px;
}


.front-nav a {
    color: #222;
    text-decoration: none;
    font-family:'Hammersmith One';
    font-size: 15px;
    
}
.front-nav ul {
    display: inline;
    padding: 0 50px 30px 20px;
    margin: 0;
}




 #about-me ,#contact, #portfolio{
margin: 0;
display: inline;
clear: both;

}

.project{
    margin-top: 50px;
}


.project img{
    width: 200px;
border: 2px #333 solid;
}

.project img:hover{
    border: 2px white solid;
}

.front-nav figcaption {
    font-family: 'Quicksand';
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
margin-top: 7px;


}

figcaption {
    font-size: 17px;
    bottom-padding: 3px;

}

.caption {
    color:#ae4b33;
}

.used{
    color: #333;
    font-weight: bolder;
}

.project a{
    color: #333;
    
    text-decoration: none;
    letter-spacing: 0.6px;
}

.project a:hover{
    color: white;
    font-size: 18px;
    text-decoration: underline;
}



.me {
margin-bottom: 10px;
margin-left: 20px;
float: right;
border: 2px solid #333;
}


article {
color: #333;
width: 1100px;
margin: 30px 40px 0 20px;
font-size: 20px;
text-indent: 3em;
font-family: 'Raleway';
line-height: 190%;
text-align:justify;
float: right;
padding: 10px;
padding-top:19px;
}

article.p {
color: #333;

font-size: 19px;
text-indent: 3em;
font-family: 'Raleway';
line-height: 180%;
text-align:justify;
}

article a{

text-decoration: none;
color: #ae4b33;
font-style: italic;
width: 600px;

}

article a:hover, a:active {
    text-decoration: underline;
}

blockquote {
font-family: 'Fjalla One', sans-serif;
font-size:40px;
color: white;
margin-top: 5px;
margin-bottom: 10px;
font-style: italic;
text-align:right;
background-color: #222;
padding: 5px 10px 5px 0;

}
#resume {
overflow:hidden;
background: #9ad7b9;
}



.resume{


margin-bottom:30px;
margin-left: 40px;
margin-top:10px;
margin-right:20px;
padding:20px;
color:#333;
font-family: Courier New;
font-size:14px;
word-wrap: break-word;



}

.info {
    
padding-bottom: 11px;
float: left;
clear: both;
padding-right: 60px;
}

.location{
letter-spacing:.05em;
color:white;
font-size:28px;
font-family: 'Poiret One', cursive;
color:#333;
text-align:justify;
margin: 0;
text-indent: 15px;
line-height: 150%;
}



#email {
font-family: 'Poiret One', cursive;
letter-spacing:.2em;
font-size: 20px;
}



.location a {

font-size: 22px;

letter-spacing: .1em;
color: #333;
}




 .location a:hover{
color:#ED2939;
}




.first {
font-family: 'Poiret One', cursive;
color: #333;
font-size:60px;
letter-spacing:.1em;
line-height:150%;
margin: 0;
text-indent: 0;
line-height: 150%;
}


.color{
    margin:5px;
    list-style-type: none;
    display: inline-block;
    padding:0;


}
.color li {float:left;
  padding-right: 30px;
}

footer {
   color: #333;

position: fixed;
bottom: 0;
right: 0;
width:100%;

font-family: 'Poiret One', cursive;
margin: 0;
padding-right: 10px;
padding-bottom: 10px;
height: auto;
background-color: #333;
}

footer ul {
list-style:none;
margin: 0;
padding-top: 5px;
padding-left: 10px;
}

footer li {
float:left;
padding-left: 10px;
}

footer li:hover {
    position:relative;
   bottom:5px;
}
footer,
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

footer a:hover {
    text-decoration: none;
    color: #9ad7b9;
}

.copy{


float: right;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 2px;


}

.social{

margin-left: 0;
text-align:left;
display: inline;

}

.social-contact {
    clear: both;
margin:30px;
padding-left: 117px;
font-family: 'Poiret One', cursive;
color: white;
text-align: justify;
display: inline-block;
background-color: rgba(255,255,255, 0.5);
margin: 30px 40px 0 20px;
margin-right: 40px;
padding: 10px 20px 0px 15px;
float: right;
}

.color li:hover {
    position:relative;
    
    
    top:5px;
}


.glass {
   

 
border-radius: 4px;
background-color: rgba(255,255,255, 0.5);
margin: 30px 40px 0 20px;
margin-right: 40px;
padding: 10px 20px 0px 15px;
width: 1160px;
height: 550px;
    
text-align:justify;
float: right;

}

#square {
     width: 650px;
margin:0 auto;
overflow-y: scroll;
height:530px;
background-color: white;
}

.form {
    margin-bottom: 30px;
    float: right;
   

}

/*article.glass {
    width: 1160px;
    height: 550px;
    margin-right: 40px;
    
    padding: 10px 20px 0px 15px;
}
*/
   