
html {html
         background: url(http://i1375.photobucket.com/albums/ag479/shannonknowscode/Photobucket%20Desktop%20-%20PrettyBitchs%20MacBook%20Air/Images/Smooth-Touch-Workspace-1300x866_zps6b29158c.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

width:auto;
     /* background-color: #D3D3D3;*/
        
        width: 100%;
    }



* {font-size:60px;
	background:black;
color:white;}
h3 {
	font-family:'Poiret One';}

h1 {font-family:'Shadows Into Light';}




h4 {font-family:'Dancing Script';}


h5 {font-family:'Special Elite';}



 

h6{font-family:'Raleway';}

   
     








article {font-family:'Indie flower';}

.freelance {font-family:'Hammersmith One';}
.work{font-family:'Droid Serif';}


blockquote {font-family:'fjalla One';}








.location{font-family:'Dosis';}



#email {font-family:'Abel';}









.rates {font-family:'Crafty Girls';}

.extra {font-family:'Just Another Hand';}

.rate-info {font-family:'Cabin Sketch';}

.cost {font-family:'Armata';}










		.one {font-family:'Lobster';}
		.two {font-family:'fredoka One';}
		.three {font-family:'Gloria Hallelujah';}
		.four {font-family:'Just Me Again Down Here';}
		.five {font-family:'Indie flower';}
		.six{font-family:'Pacifico';}
		.seven{font-family:'Rock Salt';}
		.eight{font-family:'Amatic SC';}
		.nine{font-family:'Chewy';}
		.ten{font-family:'Playball';}
		.eleven{font-family:'Nothing You Could Do';}
		.twelve{font-family:'Englebert';}